*{

}
body{
	font-family: 'allerta', sans-serif;
	margin: 0;
}

input, textarea{
	outline: 0;
}
input:focus , textarea:focus {
	background: lightgray;
}
table{
	width: 100%;
}

th{
	background: #273b47;
	color: white;
	padding: 10px 20px;
	text-align: left;
}

td{
	padding: 20px;
}

table, th, td{
	border: 1px solid #273b47;
	border-collapse: collapse;
}

.background{
	background-image: url('../images/background.png');
	background-size: cover;
}

.button {
	border-radius: 12px;
	border: none;
	background: #fd324e;
	color: white;
	font-size: 18px;
	padding: 7px 12px;
	background: linear-gradient(to left, #fe344e, #ff7250);
	cursor: pointer;
	text-decoration: none;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px;
}

.col2{
	align-items: flex-start;
}

.col2 .button{
	margin-top: 10px;
}

.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
}
.contacto a{
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}
.contacto img {
	display: block;
}

.contacto strong{
	display: block;
}

.contenedor{
	max-width: 800px;
	/*De 800 para arriba, contendor mantendrá un ancho de 800px
	de 800 para abajo, contenedor tiene un ancho auto, ideal para hacer responsive*/
	margin: 0 auto;
	position: relative;
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.contenedor-guitarra-b{
	margin-left: 370px;
	position: relative;
	bottom: 90px;
}

.derecha{
	float: right;
	position: relative;
	top: -127px;

}

.footer{
	background: #1f313c;
	padding: 50px 10px;
}

.footer .contenedor {
	display: flex;
	justify-content: space-between;
}

.formulario{
	display: flex;
	width: 400px;
	color: white;

}

.formulario label, .sexo, .intereses{
	margin-bottom: 10px;
}

.guitarra{
	padding: 10px;
	margin: 10px 10px 40px 10px;;
	/*overflow: hidden;*/
	/*le quitamos la propiedad overflow para que las imágenes de los guitarristas,
	sobresalgan del cuadro*/
	border: 1px solid #1f313c;
	border-radius: 8px;
}

.guitarra ol{
	padding: 0;
}

.guitarra.b{
	height: 190px;
}

.guitarras{
	color: #1f313c;
	margin-bottom: 60px !important;
}

.guitarras h2{
	font-size: 35px;
	font-family: 'montserrat', sans-serif;
}

.header{
	position: relative;
	/*utilizamos relative porque dentro contiene a menu que tiene absolute y que lo tome como padre */
}

.intereses label{
	font-size: 11px;
}

.izquierda{
	float: left;
	position: relative;
}


.logotipo {
	display: inline-block;
	margin-left: 0;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;

}

.menu a{
	color: white;
	text-decoration: none;
}

.menu li{
	display: inline-block;
	margin-left: 30px;
}

.menu li:before{
	font-size: 50px;
	line-height: 20px;
	content: '∘';
	color: white;
}

.portada{
	color: white;
	padding: 20px;
	height: 500px;
}

.portada button{
	margin-bottom: 70px;
}

.sexo{
	margin-top: 10px;
}

.tabla{
	margin: 50px 0;
}

.titulo {
	font-size: 70px;
	font-family: 'montserrat', sans-serif;
	margin-bottom: 0px;
	margin-top: 70px;
}

.titulo span{
	text-decoration: underline;
}

.title-a{
	font-size: 24px;
	margin-top: 0;
}
.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}


@media screen and (max-width: 800px){

	/* portada  portada  portada  portada  portada */
	.portada{
		height: auto;
	}
	.portada .button{
		display: inline-block;/*para poder darle margen*/
		margin-bottom: 30px;
	}
	.titulo{
		font-size: 45px;
		margin-top: 30px;
	}
	.title-a{
		font-size: 18px;
	}
	/* portada  portada  portada  portada  portada */

	/* guitarras  guitarras  guitarras  guitarras  guitarras */
	.contenedor-guitarra-b{
		position: static;
		margin: 0;
	}
	.guitarras{
		text-align: center;
	}
	.guitarra li{
		list-style: none;
	}
	.guitarra.b{
		height: auto;
	}
	.izquierda, .derecha{
		float: none;
		position: static;
	}
	.title-b{
		margin: 0;
	}
	/* guitarras  guitarras  guitarras  guitarras  guitarras */
}
