@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?grrmr4');
    src:    url('../fonts/icomoon.eot?grrmr4#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?grrmr4') format('truetype'),
        url('../fonts/icomoon.woff?grrmr4') format('woff'),
        url('../fonts/icomoon.svg?grrmr4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e942";
}
.icon-menu:before {
    content: "\e9bd";
}
.icon-cancel-circle:before {
    content: "\ea0d";
}
.icon-mail:before {
    content: "\ea83";
}


*{

}
body{
	font-family: 'allerta', sans-serif;
	margin: 0;
}

input, textarea{
	outline: 0;
}
input:focus , textarea:focus {
	background: lightgray;
}
table{
	width: 100%;
}

th{
	background: #273b47;
	color: white;
	padding: 10px 20px;
	text-align: left;
}

td{
	padding: 20px;
}

table, th, td{
	border: 1px solid #273b47;
	border-collapse: collapse;
}

video{
  width: 100%;
}

.background{
	background-color: #466173;
	background-image: url('../images/background.png');
	background-size: cover;
}

.burguer-button{
	color: white;
	width: 40px;
	border-radius: 50%;
	line-height: 40px;
	height: 40px;
	background: #395667;
	display: inline-block;
  /* al ser un span, su display es inline. Para que coja los atributos, hay que
  ponerle un display inline-block*/
	text-align: center;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 3;
  display: none;
  position: fixed;
}

.button {
	border-radius: 12px;
	border: none;
	background: #fd324e;
	color: white;
	font-size: 18px;
	padding: 7px 12px;
	background: linear-gradient(to left, #fe344e, #ff7250);
	cursor: pointer;
	text-decoration: none;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px;
}

.col2{
	align-items: flex-start;
}

.col2 .button{
	margin-top: 10px;
}

.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
}
.contacto a{
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}
.contacto img {
	display: block;
}

.contacto strong{
	display: block;
}

.contenedor{
	max-width: 800px;
	/*De 800 para arriba, contendor mantendrá un ancho de 800px
	de 800 para abajo, contenedor tiene un ancho auto, ideal para hacer responsive*/
	margin: 0 auto;
	position: relative;
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.contenedor-guitarra-b{
	margin-left: 370px;
	position: relative;
	bottom: 90px;
}

.derecha{
	float: right;
	position: relative;
	top: -127px;

}

.footer{
	background: #1f313c;
	padding: 50px 10px;
}

.footer .contenedor {
	display: flex;
	justify-content: space-between;
}

.formulario{
	display: flex;
	width: 400px;
	color: white;

}

.formulario label, .sexo, .intereses{
	margin-bottom: 10px;
}

.guitarra{
	padding: 10px;
	margin: 10px 10px 40px 10px;;
	/*overflow: hidden;*/
	/*le quitamos la propiedad overflow para que las imágenes de los guitarristas,
	sobresalgan del cuadro*/
	border: 1px solid #1f313c;
	border-radius: 8px;
}

.guitarra ol{
	padding: 0;
}

.guitarra.b{
	height: 190px;
}

.guitarras{
	color: #1f313c;
	margin-bottom: 60px !important;
}

.guitarras h2{
	font-size: 35px;
	font-family: 'montserrat', sans-serif;
}

.header{
	position: relative;
	/*utilizamos relative porque dentro contiene a menu que tiene absolute y que lo tome como padre */
}

.intereses label{
	font-size: 11px;
}

.izquierda{
	float: left;
	position: relative;
}


.logotipo {
	display: inline-block;
	margin-left: 0;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;

}

.menu a{
	color: white;
	text-decoration: none;
}

.menu li{
	display: inline-block;
	margin-left: 30px;
}

.menu li:before{
	font-size: 50px;
	line-height: 20px;
	content: '∘';
	color: white;
}

.portada{
	color: white;
	padding: 20px;
	height: 500px;
}

.portada button{
	margin-bottom: 70px;
}

.sexo{
	margin-top: 10px;
}

.tabla{
	margin: 50px 0;
}

.titulo {
	font-size: 70px;
	font-family: 'montserrat', sans-serif;
	margin-bottom: 0px;
	margin-top: 70px;
}

.titulo span{
	text-decoration: underline;
}

.title-a{
	font-size: 24px;
	margin-top: 0;
}
.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}

.video-responsive-contenedor{
  position: relative;
  padding-top: 56.25%;
}
.video-responsive-src {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.video-demo{
	max-width: 500px;
	width: 100%;
	border: 5px solid #3c5b6e;
}

.video-demo-contenedor{
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}


@media screen and(-webkit-min-device-pixel-ratio: 2){
	.background{
		background-image: url('../images/background2x.png');
		background-size: cover;
	}	
}



@media screen and (max-width: 800px){

	/* PRECIOS PRECIOS PRECIOS PRECIOS PRECIOS PRECIOS  */
	.tabla{
		margin: 50px 20px;
	}
	.tabla .contenedor {
		overflow: auto;
		border: 1px solid #273b47;
	}
	/* PRECIOS PRECIOS PRECIOS PRECIOS PRECIOS PRECIOS  */

	/* portada  portada  portada  portada  portada */
	.portada{
		height: auto;
	}
	.portada .button{
		display: inline-block;/*para poder darle margen*/
		margin-bottom: 30px;
	}
	.titulo{
		font-size: 45px;
		margin-top: 30px;
	}
	.title-a{
		font-size: 18px;
	}
	/* portada  portada  portada  portada  portada */

	/* guitarras  guitarras  guitarras  guitarras  guitarras */
	.video-demo-contenedor{
		margin-bottom: 30px;
	}
	.contenedor-guitarra-b{
		position: static;
		margin: 0;
	}
	.contenedor-guitarra-a{
		padding: 0;
	}
	.guitarras{
		text-align: center;
	}
	.guitarra li{
		list-style: none;
	}
	.guitarra.b{
		height: auto;
	}
	.izquierda, .derecha{
		float: none;
		position: static;
	}
	.title-b{
		margin: 0;
	}
	/* guitarras  guitarras  guitarras  guitarras  guitarras */

}

@media screen and (max-width: 767px){
/* footer footer footer footer footer */
	input[type="text"]{
		margin-bottom: 30px;
	}
	input[type="text"], input[type="email"]{
		font-size: 16px;
		padding: 5px;
	}

	input[type="radio"], input[type="checkbox"]{
		zoom: 1.5;
	}

	textarea{
		width: 100%;
	}

	.footer .contenedor{
		display: block;
	}

	.col1{
		margin: 0;
	}

	.contacto{
		margin: 0 auto;
		display: block;
	}

	.contacto a{
		display: block;
	}

	.formulario{
		display: block;
		margin: 0 auto;
		width: 300px;
	}

	.formulario label{
		font-size: 20px;
	}


	.intereses label{
		display: block;
		font-size: 20px;
	}
	.sexo label {
		display: block;
	}

	/* footer footer footer footer footer */
}


@media screen and (max-width: 650px){
/* portada  portada  portada  portada  portada */
	.header{
			text-align: center
	}
	.logotipo{
		margin: 0;
	}
	.menu{
		position: static;
		display: block;

	}
	.menu li:first-child{
		margin: 0;
	}
	.menu ul{
		padding: 0;
	}
/* portada  portada  portada  portada  portada */

/* guitarras  guitarras  guitarras  guitarras  guitarras */
	/*.video-demo{
		margin: 0 10px;
	}*/
/* guitarras  guitarras  guitarras  guitarras  guitarras */
}

@media screen and (max-width: 500px){
	/* portada  portada  portada  portada  portada */
	.portada .button{
		display: block;
	}
	.precios .header .logotipo{
		margin: 50px 0;
	}

	.burguer-button{
		display: block;
	}
  .portada .contenedor{
    position: static;
  }
  /* esta es para precios */
  .header{
  	position: static;
  }
  /* esta es para precios */
  .header .contenedor{
  	position: static;
  }
  .menu{
    background: rgba(255, 60, 88, 0.8);
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    /*para poder sacarlo de pantalla con el patro off-canvas hay que darle
    un tamaño declarado */
    transition: 300ms;
  }

  .menu.active{
    left: 0;
  }

  .menu ul{
    flex: 1;
    /*esta propiedad sirve para que los ul tengan el mismo tamaño que su padre
    flex, es decir, va a ocupar todo el espacio de menu */
  }
  .menu li{
		display: block;
		margin: 0;
		padding: 8px 0;
		border-bottom: 1px solid white;
	}
	.menu li::before{
		display: none;
	}
	.menu li:first-child{
		border-top: 1px solid white;
	}
	.portada{
		text-align: center;
	}
	.titulo{
		font-size: 30px;
	}
	.title-a{
		font-size: 16px;
	}
	/* portada  portada  portada  portada  portada */

	/* guitarras  guitarras  guitarras  guitarras  guitarras */

	.guitarra img{
		width: 200px;
	}
	.title-b{
		font-size: 30px;
	}
	.video-demo-contenedor{
		margin: 0 10px 30px 10px;
	}
		/* guitarras  guitarras  guitarras  guitarras  guitarras */

		/* footer footer footer footer footer */
		.col2{
			align-items: stretch;
		} 
		/* footer footer footer footer footer */
}